{% extends 'base.html' %}
{% load i18n %}
{% block title %}HOME{% endblock title %}
{% block content %}

<div class="container mx-auto pb-10">

    <div class="bg-gray-800 rounded-xl w-full h-50vh mt-32 mb-12 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1526344966-89049886b28d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3348&q=80)">

    </div>

    {% comment %} <div class="text-center mb-10 text-gray-600">
        <span class="mr-5"></span> 
       <span class="border border-gray-500 px-2 py-1 rounded"><i class="fas fa-clock text-lg mr-2 text-gray-800"></i> {{now}} </span>
    </div> {% endcomment %}
    
    <div class="flex flex-wrap mb-10">
        {% for room in rooms  %}
        {% include 'mixins/room_card.html' with room=room %}
        {% endfor %}
    </div>
    
     <div>
        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-left"></i>
            </a>
            {% endif %}
            <span class="mx-3 font-medium text-lg" >
                
                {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page {{current_page}} of {{total_pages}}{% endblocktrans %}
                
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-right"></i>
                </a>
            {% endif %}
        </div>

        {% comment %} <div>
            {% for page in page_obj.paginator.page_range  %}
                <a href="?page={{page}}"> {{page}} </a>
            {% endfor %}
        </div> {% endcomment %}

     </div>

    
</div>

    {% comment %} {% for page in page_range  %}
        <a href="?page={{page}}"> {{page}} </a>
    {% endfor %} {% endcomment %}

{% endblock content %}

