{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}| Nbnb</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    </head>
    <body class="text-gray-800 mt-24 font-light" >
        <header class="container max-w-full inset-0 flex justify-between px-6 h-20 border-b border-gray-400 fixed bg-white">
            <div class="flex items-center w-9/12">
                <a href="{% url "core:home"%}" class="mr-5">
                    <img class="w-8" src="{% static 'img/logo.png' %}" />
                </a>
                {% block search_bar %}
                <form method="get" action="{% url "rooms:search" %}" class="w-9/12" >
                    <input class="search-box w-full border px-5 font-medium text-gray-900 placeholder-gray-600 py-2 rounded-sm shadow-md hover:shadow-lg focus:outline-none" name="city" placeholder="Search by City" />
                </form>
                {% endblock search_bar %}
            </div>            
            {% include "partials/nav.html" %}
        </header>
        {% block content %}{% endblock content %}
        {% include "partials/footer.html" %}
        <script src="" async defer></script>
    </body>
</html>